header {
  background-color: #B378DD;
  text-align: center;
  color:white;
  padding:5px;
  margin-bottom: 5px;
}
main {
  background-color: #F9F3F3;
  padding:5px;
}
#user {
  border:2px solid black;
  height:350px;
  text-align: center;
  color:#111;
}
input {
  background-color: lightgrey;
}
#output {
  border:2px solid black;
  height:350px;
}
#result {
  font-weight: bold;
}
#r {
  font-weight: bold;
}
#time {
  font-weight: bold;
}
#memory {
  font-weight: bold;
}
